@import url(http://fonts.googleapis.com/css?family=Expletus+Sans:700,400);

* {
    font-family: "Expletus Sans", Arial, serif;
}

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/* Responsive Styles */

@media (max-width: 991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}

/* Portfolio Styles */

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Upload Styles */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.vehicle-color-block {
    display: inline-block;
    width: 200px;
    height: 30px;
    vertical-align: middle;
}

.center-login-panel-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.application-image-placeholder {
    position: relative;
    overflow: hidden;
}

.application-image-placeholder img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.body-style-thumbnail {
    width: 300px;
    height: 150px;
}

.make-thumbnail {
    width: 150px;
    height: 150px;
}

.vehicle-image-size {
    width: 100%;
    height: 700px;
}
