<section ng-controller="VehicleBodyStyleListCtrl">
	<h2>Lista de categorias de veículos</h2>

	<table class="pure-table">
		<thead>
			<tr>
				<td>Nome</td>
				<td colspan="2">Ações</td>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="bodyStyle in bodyStyleList">
				<td>{{ bodyStyle.name }}</td>

				<td>
					<a class="pure-button" href="#/vehicle-body-style/edit/{{ bodyStyle.id }}">Alterar</a>
				</td>

				<td>
					<button type="button" class="pure-button" ng-click="destroyBodyStyle(bodyStyle.id)">Excluir</button>
				</td>
			</tr>
		</tbody>
	</table>

	<br />

	<a class="pure-button" href="#/vehicle-body-style/create">(+) Inserir</a>
</section>
