<section data-ng-controller="VehicleBodyStyleListCtrl">
	<h2>Lista de categorias de veículos</h2>

	<p data-ng-show="form.message" class="alert alert-{{ form.status }}"><strong>{{ form.message }}</strong></p>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<td>Nome</td>
					<td colspan="2">Ações</td>
				</tr>
			</thead>
			
			<tbody>
				<tr data-ng-repeat="bodyStyle in bodyStyleList">
					<td>{{ bodyStyle.name }}</td>

					<td>
						<a class="btn btn-default" href="#/vehicle-body-style/edit/{{ bodyStyle.id }}">
							<span class="glyphicon glyphicon-pencil"></span>
							Alterar
						</a>
					</td>

					<td>
						<button type="button" class="btn btn-danger" data-ng-click="destroyBodyStyle(bodyStyle.id)">
							<span class="glyphicon glyphicon-trash"></span>
							Excluir
						</button>
					</td>
				</tr>
			</tbody>

			<tfoot>
				<tr>
					<td>
						<a class="btn btn-primary" href="#/vehicle-body-style/create">
							<span class="glyphicon glyphicon-plus"></span>
							Novo
						</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</section>
