<!-- Header Carousel -->
<header>
	<uib-carousel interval="4000" active="activeIndex">
		<uib-slide ng-repeat="vehicle in vehicleList track by $index" index="$index">
			<div class="application-image-placeholder vehicle-image-size">
				<img ng-src="{{getImage(vehicle)}}" style="margin: auto;">
			</div>

			<div class="carousel-caption">
				<h3>{{vehicle.make.name}} {{vehicle.price | currency:'R$ '}}</h3>
				<p>{{vehicle.kilometres | number}} km</p>
			</div>
		</uib-slide>
	</uib-carousel>
</header>

<!-- Page Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				A melhor chance de espalhar notícia sobre seu veículo
			</h1>
		</div>
	</div>

	<!-- Projects Row -->
	<div class="row">
		<div class="col-md-6 img-portfolio" data-ng-repeat="vehicle in vehicleList">
			<a href="#/vehicle/showroom/{{vehicle.id}}">
				<div class="application-image-placeholder vehicle-image-limits">
					<img class="img-hover" data-ng-src="{{getImage(vehicle)}}" alt="{{vehicle.owner.name}}">
				</div>
			</a>
			<h3 class="vehicle-title-long-content">
				<a href="#/vehicle/showroom/{{vehicle.id}}">
					{{vehicle.make.name}} {{vehicle.model_series.model.name}} {{vehicle.model_series.name}}
				</a>
			</h3>
			<p class="row" style="font-size: 1.3em;">
                <b class="col-sm-4">Preço:</b>
				<span class="col-sm-8 text-right">{{vehicle.price | currency:'R$ '}}</span>
            </p>
			<p class="row">
                <b class="col-sm-4">Quilometragem:</b>
				<span class="col-sm-8 text-right">{{vehicle.kilometres | number}} km</span>
            </p>
			<p class="row">
				<b class="col-sm-4">Anunciante:</b>
				<span class="col-sm-8 text-right">{{vehicle.owner.email}}</span>
			</p>
		</div>
	</div>
	<!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Divulga Usados 2013</p>
            </div>
        </div>
    </footer>
</div>
