<section-with-side-menu>
    <form role="form" class="form-horizontal" data-ng-submit="submit()">
        <fieldset>
            <legend data-ng-hide="make.id">Inclusão de modelo do fabricante {{ model.make.name }}</legend>
            <legend data-ng-show="make.id">Alteração de modelo do fabricante {{ model.make.name }}</legend>

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Nome</label>
                <div class="col-sm-6">
                    <input type="text" id="name" name="name" class="form-control" data-ng-model="model.name" />
                </div>
            </div>

            <div class="form-group">
                <label for="category" class="col-sm-2 control-label">Categoria</label>
                <div class="col-sm-6">
                    <select id="category"
                            name="category"
                            class="form-control"
                            data-ng-options="category.id as category.name for category in bodyStyleList"
                            data-ng-model="model.vehiclebodystyle_id">
                        <option>Selecione uma categoria</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="btn-group">
                        <a class="btn btn-default" href="#/make/{{ model.make.id }}/model">
                            <span class="glyphicon glyphicon-remove"></span> Cancelar
                        </a>

                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok"></span> Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>	
</section-with-side-menu>
