<section-with-side-menu>
    <h2>Listagem de veículos</h2>
    
    <table class="table table-hover table-condensed">
		<thead>
			<tr>
				<th>Marca</th>
				<th>Modelo</th>
				<th>Versão</th>
				<th>Quilometragem</th>
				<th>Preço</th>
			</tr>
		</thead>
        <tbody>
			<tr data-ng-repeat="vehicle in vehicleList"
				data-ng-show="vehicleList.length"
				data-ng-click="onRowSelect(vehicle)"
				data-ng-class="{active: isRowSelected(vehicle)}">
                <td>{{vehicle.make.name}}</td>
				<td>{{vehicle.model_series.model.name}}</td>
				<td>{{vehicle.model_series.name}}</td>
				<td class="text-center">{{vehicle.kilometres | number}}</td>
				<td class="text-right">{{vehicle.price | currency:'R$ '}}</td>
            </tr>
            <tr data-ng-hide="vehicleList.length">
				<td colspan="2">Não há fabricantes cadastrados</td>
			</tr>
        </tbody>
    </table>
    
    <div class="btn-toolbar" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-default" href="#/dashboard"> 
				<span class="glyphicon glyphicon-arrow-left"></span> Voltar
			</a>
			<a class="btn btn-primary" href="#/vehicle/create"> 
				<span class="glyphicon glyphicon-floppy-disk"></span> Novo
			</a>
			<a class="btn btn-default" href="#/vehicle/edit/{{ selected.id }}" data-ng-disabled="!selected">
				<span class="glyphicon glyphicon-pencil"></span> Alterar
			</a>
		</div>
		<div class="btn-group pull-right">
			<a class="btn btn-default" href="#/vehicle/{{ selected.id }}/spec" data-ng-disabled="!selected">
				<span class="glyphicon glyphicon-cog"></span> Especificação
			</a>
		</div>
	</div>
</section-with-side-menu>
