<section-with-side-menu>
    <form role="form" class="form-horizontal" data-ng-submit="submit()" data-ng-controller="TheVehicleMechanicsCtrl">
		<fieldset>
			<legend>Inclusão de veículo</legend>

			<div class="form-group">
				<label for="bodyStyle" class="col-sm-2 control-label">Categoria</label>
				<div class="col-sm-10" data-ng-hide="vehicle.id">
					<select id="bodyStyle" class="form-control" data-ng-model="vehicle.vehiclebodystyle_id"
							data-ng-options="bodyStyle.name for bodyStyle in bodyStyleList track by bodyStyle.id">
						<option>Selecione uma categoria</option>
					</select>
				</div>
				<div class="col-sm-10" data-ng-show="vehicle.id">
					<input type="text" id="bodyStyleName" name="bodyStyleName" class="form-control" value="{{vehicle.body_style.name}}" disabled="disabled">
				</div>
			</div>

			<div class="form-group">
				<label for="make" class="col-sm-2 control-label">Fabricante</label>
				<div class="col-sm-10" data-ng-hide="vehicle.id">
					<select id="make" class="form-control" data-ng-model="vehicle.vehiclemake_id" data-ng-options="make.name for make in makeList track by make.id" data-ng-change="findModels(vehicle.vehiclemake_id.id)">
						<option>Selecione um fabricante</option>
					</select>
				</div>
				<div class="col-sm-10" data-ng-show="vehicle.id">
					<input type="text" id="makeName" name="makeName" class="form-control" value="{{vehicle.make.name}}" disabled="disabled">
				</div>
			</div>

			<div class="form-group">
				<label for="model" class="col-sm-2 control-label" data-ng-show="modelList.length || vehicle.id">Modelo</label>
				<div class="col-sm-5" data-ng-hide="!modelList.length || vehicle.id">
					<select id="model" class="form-control" data-ng-model="selectedModel" data-ng-options="model.name for model in modelList" data-ng-change="findModelSeries(selectedModel.id)">
						<option>Selecione um modelo</option>
					</select>
				</div>
				<div class="col-sm-5" data-ng-show="vehicle.id">
					<input type="text" id="modelName" name="modelName" class="form-control" value="{{vehicle.model_series.model.name}}" disabled="disabled">
				</div>

				<label for="modelSeries" class="col-sm-1 control-label" data-ng-show="modelSeriesList.length || vehicle.id">Versão</label>
				<div class="col-sm-4" data-ng-show="modelSeriesList.length">
					<select id="modelSeries" class="form-control" data-ng-model="vehicle.vehiclemodelseries_id" data-ng-options="modelSeries.name for modelSeries in modelSeriesList track by modelSeries.id">
						<option>Selecione uma versão</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="price" class="col-sm-2 control-label">Preço</label>
				<div class="col-sm-6">
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input type="text" id="price" name="price" data-ng-model="vehicle.price" class="form-control" data-ng-model="vehicle.price" ui-number-mask="2" maxlength="16">
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="kilometres" class="col-sm-2 control-label">Quilometragem</label>
				<div class="col-sm-6">
					<div class="input-group">
						<input type="text" id="kilometres" name="kilometres" class="form-control" data-ng-model="vehicle.kilometres" ui-number-mask="0" maxlength="12">
						<div class="input-group-addon">km</div>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="colour" class="col-sm-2 control-label">Cor</label>
				<div class="col-sm-6">
					<button id="colour" name="colour" ng-model="vehicle.colour" colorpicker colorpicker-position="top"
							class="btn btn-default" type="button">Escolher uma cor</button>
					<div class="vehicle-color-block" style="background-color: {{vehicle.colour}} !important;"></div>
				</div>
			</div>

			<file-upload></file-upload>

			<div class="form-group">
				<div class="col-sm-12">
		            <div class="btn-group">
						<a class="btn btn-default" href="#/vehicle">
							<span class="glyphicon glyphicon glyphicon-remove"></span> Cancelar
						</a>

						<button type="submit" class="btn btn-success">
							<span class="glyphicon glyphicon-ok"></span> Confirmar
						</button>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</section-with-side-menu>
